<!DOCTYPE html>

<html ng-app="myapp">

 <head>

    <script src="angular.js"></script>

    <script>

    app = angular.module("myapp" , []);

    app.controller("ctrl1" , function($scope , $http){
       
               var total_seats = [];
               $scope.finalans="";
               $scope.add = function(xyz){

               	//console.log(xyz);
               	//console.log(xyz.target.id);


               	   pos = total_seats.indexOf(xyz.target.id);
               	   //console.log(pos);

               	   if(pos==-1){


               	   	   total_seats.push(xyz.target.id);
               	   	   //console.log(toatal_seats);
               	   	   xyz.target.style.background="red";
               	   	   $scope.finalans = total_seats.join(",");
               	   }
                   else{

                       alert("seats Exist");

                   }






               }

           });

       

    
    </script>

    <style type="text/css">

       .seats

       {
          height:75px;width:75px;background-color:#eee;
          padding:30px;margin:10px 20px;float:left;

       }


    </style>

    </head>

    <body>
      

      <div ng-controller ="ctrl1">

         <div class="seats" id ="1" ng-click="add($event)">1</div>
         <div class="seats" id ="2" ng-click="add($event)">2</div>
         <div class="seats" id ="3" ng-click="add($event)">3</div>
         <div class="seats" id ="4" ng-click="add($event)">4</div>
         <div class="seats" id ="5" ng-click="add($event)">5</div>
           
         <div style="clear:both"></div>
         <p>{{finalans}}</p>

      </div>



  

    


    </body>

 </html>