<!DOCTYPE html>

<html ng-app="myapp">

 <head>

    <script src="angular.js"></script>

    <script>

    var app = angular.module("myapp" , []);

    app.controller("ctrl1" , function($scope){
       
        $scope.data = [{name : 'ajay'} , {name : 'vijay'}];
        $scope.salary=[10000 , 20000];


    	});
       

    
    </script>

    </head>

    <body>
      

      <div ng-controller ="ctrl1">

         <ul>

            <li ng-repeat="result in data">

              {{result.name}}

            </li>

         </ul>


         <ul>

            <li ng-repeat="(key,result) in salary">

              {{key+"=="+result}}


            </li>

        
         </ul>



      </div>



  

    


    </body>

 </html>