<!DOCTYPE html>

<html ng-app="myapp">

 <head>

    <script src="angular.js"></script>

    <script>

    app = angular.module("myapp" , []);

    app.controller("ctrl1" , function($scope , $http){
       
          $http.get("array.php").success(function(response){

              $scope.answer = response;

          })

        });
       

    
    </script>

    </head>

    <body>
      

      <div ng-controller ="ctrl1">

         <ul>

            <li ng-repeat="val in answer">

               {{val}}

            </li>


         </ul>

           


      </div>



  

    


    </body>

 </html>