<!DOCTYPE html>

<html ng-app="myapp">

 <head>

    <script src="angular.js"></script>

    <script>

    var app = angular.module("myapp" , []);

    app.controller("ctrl1" , function($scope , $http){
       
        $scope.send  = function(){
           
             $http.get("data.php").success(function(response){

             	$scope.msg = response;

             	 });

           }

    	});
       

    
    </script>

    </head>

    <body>
      

      <div ng-controller ="ctrl1">

         <input type="button" ng-click="send()" value="GETDATA" />
       <p>

         {{ msg }}

       </p>
           


      </div>



  

    


    </body>

 </html>