<!DOCTYPE html>

<html ng-app="get_records">

 <head>

    <script src="angular.js"></script>

    <script>

    var app = angular.module("get_records" , []);

    app.controller("getdata" , function($scope , $http){

    	  $scope.result="";
    	  $scope.transfer = function(){

    	  	$http.get("getdata.php").success(function(response){

    	  		 $scope.result = response;


    	  	})
    	  
    	  }

    


       $scope.send_data=function(){

       	 $http.post("postdata.php" , {name : 'Prashant' , age : 26 }).success(function(response){

                    
                    $scope.err = response;
                     
                     })

       	 }



       	 $scope.txt1=10;
       	 $scope.txt2=20;

       	  $scope.submit_data=function(){

       	 $http.post("postdata1.php" , {abc : $scope.txt1 , abcd : $scope.txt2 }).success(function(response){

                    
                    $scope.err1 = response;
                     
                     });

       	 }






       });
       

    
    </script>

    </head>


<body>

 <div ng-controller="getdata">

  <input type="button" value="click" ng-click="transfer()">

     <p>

        <ul>

            <li ng-repeat="ans in result">

               {{ans}}

            </li>

        </ul>

    </p>

    <input type="button" value="SEND" ng-click="send_data()">

    <p>
    {{err}}

    </p>


    <ul>

       <li><input type="text" ng-model="txt1"></li>
       <li><input type="text" ng-model="txt2"></li>

         <li><input type="button" value="Enter" ng-click="submit_data()"></li>

         <li>{{err1}}</li>



    </div>


    </body>


    </html>





