<!DOCTYPE html>

<html ng-app>

 <head>

    <script src="angular.js"></script>

    <script>

        document.write(100);

    </script>

    </head>

    <body>

    {{100 + 300}}

    </body>

 </html>