<!DOCTYPE html>

<html ng-app>

 <head>

   <script src="angular.js"></script>

 </head>

   <body>

     <input type="text" ng-model="txt" />
     <input type="text" ng-model="txt" />

     


   </body>

   </html>