<!DOCTYPE html>

<html ng-app>

 <head>

   <script src="angular.js"></script>

 </head>

   <body ng-init="txt1=90">

     <input type="text" ng-model="txt1" />
     <input type="number" ng-model="txt" />


     <p>{{txt1 * txt}}</p>




     


   </body>

   </html>