<!DOCTYPE html>

<html ng-app>

 <head>

   <script src="angular.js"></script>

 </head>

   <body>

     <input type="text" ng-model="txt" />

     <p>{{txt}}

     <p ng-bind="txt"></p>


   </body>

   </html>

