<!DOCTYPE html>

<html ng-app="show_data">

 <head>

   <script src="angular.js"></script>
   <script type="text/javascript">

    app = angular.module("show_data" , []);
    app.controller("show" ,function($scope){

    	$scope.rec = true;
    	$scope.rec1 = true;
    	$scope.rec2 = false;

    	$scope.hide = function(){

    		$scope.rec = false;
    		$scope.rec2 = true;
    	}

    	$scope.showhide = function(){

    		$scope.rec = !$scope.rec;
    	}

    	$scope.enabledata = function(){

    		$scope.rec1 = false;
    	}

    });

    </script>

 </head>

   <body ng-controller="show">

      <input type="button" value="Enter" ng-click="hide()" ng-disabled="rec1">
       <input type="button" value="Enter1" ng-click="showhide()" ng-disabled="rec1">
       <input type="button" value="Enter2" ng-click="enabledata()" >

       <div ng-show="rec">

         Prashant Kadam

        </div>

        <div ng-hide="rec2">

        Test

        </div>


   



     


   </body>

   </html>