<!DOCTYPE html>

<html ng-app>

 <head>

    <script src="angular.js"></script>

    <script>
         
        var data=[100 , 200];
        document.write(data[1]);


    </script>

    </head>

    <body>

    <div ng-init="data=[400 , 500] ; data1=[800]">

       {{ data[0] + data[1] + data1[0] }}

    </div>

    


    </body>

 </html>