<!DOCTYPE html>

<html ng-app="myapp">

 <head>

    <script src="angular.js"></script>

    <script>

    var app = angular.module("myapp" , []);

    app.controller("ctrl1" , function($scope){
       
        $scope.xyz = 300;


    	});
       

    app.controller("ctrl2" , function($scope){
       
        $scope.xyz = 100;


    	});
       

    </script>

    </head>

    <body>
      

      <div ng-controller ="ctrl1">

         {{xyz}}
      </div>


        <div ng-controller ="ctrl2">

         {{xyz}}
      </div>



  

    


    </body>

 </html>