<!DOCTYPE html>

<html ng-app>

 <head>

    <script src="angular.js"></script>

    <script>
         
        var data={name :'akshay' , age : 20};
        document.write(data.age);


    </script>

    </head>

    <body>

    <div ng-init=" data={ name : 'prasad' , age : 30} ">

       {{ data.name + "==>" + data.age }}

    </div>

    


    </body>

 </html>