<!DOCTYPE html>

<html ng-app="myapp">

 <head>

    <script src="angular.js"></script>

    <script>

    var app = angular.module("myapp" , []);

    app.controller("ctrl1" , function($scope){
       
       $scope.record = 100;


       $scope.send = function(xyz){

       	   $scope.record = xyz;
       }



    	});
       

    
    </script>

    </head>

    <body>
      

      <div ng-controller ="ctrl1">

         <input type="text" ng-model="record" />
         <input type="button" ng-click="send(300)" />

           


      </div>



  

    


    </body>

 </html>