<!DOCTYPE html>

<html ng-app>

 <head>

    <script src="angular.js"></script>

    <script>
         
        var data=100;
        document.write(data);


    </script>

    </head>

    <body>

    <div ng-init="data1=100 ; data2=800">

       {{ data1 + data2 }}

    </div>

    <div ng-init="data1=80 ; data2=70">

       {{ data1 + data2 }}

    </div>



    </body>

 </html>