<!DOCTYPE html>

<html ng-app="myapp">

 <head>

    <script src="angular.js"></script>

    <script>

    app = angular.module("myapp" , []);

    app.controller("ctrl1" , function($scope){

    	$scope.name = "";
    	$scope.mobile="";

    	  $scope.check = function(){

    	  	 if($scope.name.length == 0){

    	  	 	$scope.err = "Invalid Name";
    	  	 }

    	  	 else if($scope.mobile.length == 0){

    	  	 	$scope.err = "Invalid Mobile";
    	  	 }

    	  	 else{

    	  	 	$scope.err = "ok";
    	  	 }
    	  
       
       
           }

    	});
       

    
    </script>

    </head>

    <body>
      

      <div ng-controller ="ctrl1">

        <ul>

           <li>Enter Name</li>
           <li><input type="text" ng-model="name"> </li>

           <li>Enter Mobile</li>
           <li><input type="text" ng-model="mobile"> </li>



           <li><input type="button" ng-click="check()" value="check"> </li>
           <li>{{err}}</li>

     
       </ul>


           


      </div>



  

    


    </body>

 </html>