<!DOCTYPE html>

<html ng-app>

 <head>

    <script src="angular.js"></script>

    <script>
       

    </script>

    </head>

    <body>
      
      <div ng-init="data = [{name : 'akshay' , age : 20} ,{name : 'askshaya' , age :21},{name : 'sam' , age : 22}];">


         <input type="text" ng-model="dosearch" />

           <ul>

              <li ng-repeat="answer in data | filter:dosearch ">

                 {{  (answer.name | uppercase) +"=="+ answer.age}}

               </li>

            </ul>


      </div>


  

    


    </body>

 </html>